@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 4em;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2.33em;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size:1.2em;
}

button {
  padding-top: 10px;
}

.intro {
  padding-top: 30vh;
  height: calc(100% - 135px);
  text-align: left;
  width: 60%;
  margin: auto;
}

.intro p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding-top: 40px;
  text-align: justify;
  width: 500px;
}

.intro h2 {
  width: 500px;
}

.infosection {
  height: 30vh;
  width: 100%;
  background-color: pink;
  text-align: right;
  padding-right: 50px;
  padding-left: 20%;
}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 135px;
  width: 100%;
}

.contact p {
  text-align: left;
  padding-left: 50px;
  color: white;
}

.contact p:hover {
  text-align: left;
  padding-left: 50px;
  color: black;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #88CDAA;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #88CDAA;
  color: white;
}

.modal-header h2 {
  padding-left: 2em;
}

.modal-body {
  text-align: center;
  padding: 2px 16px;
}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@media only screen and (max-device-width: 1080px){
  body {
    height: 100%;
  }

  .intro {
    padding-top: 15vh;
    height: 90%;
    text-align: left;
    width: 95%;
    margin: auto;
  }

  .contact {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 135px;
  }

  .contact p {
    text-align: left;
    padding-left: 50px;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 8em;
    padding-bottom: 10px;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3.15em;
  }

  .intro h2 {
    width: 900px;
  }

  .intro p {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding-top: 40px;
    text-align: justify;
    width: 80%;
  }


  .button {
    font-size: 2em;

  }

}
