<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content"=width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Tyler Crosby</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="static/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CLQ319TJQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8TG51N086T');
  </script>
</head>
<body>
<nav>

</nav>
<div class=intro>
  <h1>Tyler Crosby</h1>
  <!-- A pretty cool guy tbh, consider hiring him! :) -->
  <h2>A freshly <span style="color: #88CDAa">minted</span> New England based Software Engineer.</h2>
  <p>Hi, I am a recent Computer Science graduate looking for work as a software engineer with a focus on microservices, data engineering, and full-stack web development.</p>
</div>

<div class=contact>
  <form action=mailto:contact@tycro.io>
    <button class=button type="submit">Contact Me!</button>
  </form>
  <br></br>
  <p>This website is brought to you by KISS, Keep it simple stupid!</p>
  <!-- Because it only took me a year and a half to do it -->
</div>

</body>
</html>
